@{
    ViewData["Title"] = "Home Page";
}

<button class="testez" data-toggle="collapse" data-target="#nume">
    Open Backlog
    <i class="fas fa-chevron-down"></i>
</button>
<div id="nume" class="collapse padding">
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="card border-dark">
                <div class="card-header">Header</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
                </div>
            </div>
            <div class="card border-dark">
                <div class="card-header">Header</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
                </div>
                <div class="card-header">test</div>
            </div>
            <div class="card border-dark">
                <div class="card-header">Header</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
                </div>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">

        </div>
    </div>
</div>


