@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <button class="testez" data-toggle="collapse" data-target="#nume">
            Open Backlog
            <i class="fas fa-chevron-down"></i>
        </button>
        <div id="nume" class="collapse padding">
            <div class="container-fluid padding">
                <div class="row padding">
                    <div class="card border-dark">
                        <div class="card-header">
                            <i class="fas fa-exclamation-circle"></i>
                            <i class="fas fa-cog float-right"></i>
                        </div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Dark card title</h5>
                            <div class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding">
            <div class="row padding">
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>


