@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-2 col-lg-3 col-xl-4"></div>

    <div class="col-md-8 col-lg-5 col-xl-4">
        <div class="jumbotron">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <hr />
            @if (Model.errors != null && Model.errors.Count != 0)
            {
                foreach (var error in Model.errors)
                {
                    <div class="alert alert-warning" role="alert">
                        @error
                    </div>
                }
            }
            <form method="post" asp-controller="Home" asp-action="Register">
                <div class="form-group">
                    <label for="UserName" class="customLogin">Username</label>
                    <input name="UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Password" class="customLogin">Password</label>
                    <input type="password" name="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="customLogin">Confirm Password</label>
                    <input type="password" name="ConfirmPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Email" class="customLogin">Email</label>
                    <input name="Email" class="form-control" />
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>
            </form>
            <div class="text-center mt-5">
                <hr />
                <h6 class="text-center">Already have an account?</h6>
                <a href="/Home/Login" class="btn btn-dark btn-lg mt-3">Login</a>
            </div>
        </div>
    </div>
</div>