@model KanbanBoard.Models.CreateIssueModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="./styles/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h1>Create task</h1>
<br />

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Issue" asp-action="Create" method="post">
            <div class="form-group">
                <label for="AssignedUser">Assigned User</label>
                <select class="form-control" id="AssignedUser" name="AssignedUser">
                    @foreach (var user in Model.Users)
                    {
                        <option>@user.UserName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Summary">Summary</label>
                <input type="text" class="form-control" id="Summary" name="Summary">
            </div>
            <div class="form-group">
                <label for="RequestedCloseDate">Due Date</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="RequestedCloseDate" name="RequestedCloseDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="EstimatedEffort">Estimated Effort(h)</label>
                <input type="text" class="form-control" id="EstimatedEffort" name="EstimatedEffort">
            </div>

            <div class="form-group">
                <label for="Project">Project</label>
                <select class="form-control" id="Project" name="Project">
                    @foreach (var project in Model.Projects)
                    {
                        <option>@project.ProjectName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Priority">Priority</label>
                <select class="form-control" id="Priority" name="Priority">
                    @foreach (var priority in Model.Priorities)
                    {
                        <option>@priority.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
    </div>
</div>

 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();

    });
</script>