@model ValidationModel

<div class="jumbotron jumbotron-fluid">

    <div class="container emp-profile">
        <div class="row jumbotron jumbotron-fluid">
            <div class="col-12 text-center">
                @if (Model != null)
                {
                    @if (Model.errors.Count != 0)
                    {
                        foreach (var error in Model.errors)
                        {
                            <div class="alert alert-danger" role="alert">
                                @error
                            </div>
                        }
                    }
                    else
                    @if (Model.success != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @Model.success
                        </div>
                    }
                }
            </div>
            <div class="col-md-4 ml-3">
                <div class="list-group">
                    <a asp-controller="Profile" asp-action="MyProfile" class="list-group-item list-group-item-action">
                        Overview
                    </a>
                    <a asp-controller="Profile" asp-action="ChangePassword" class="list-group-item list-group-item-action">
                        Change Password
                    </a>
                    <a asp-controller="Profile" asp-action="ChangeEmail" class="list-group-item list-group-item-action active">
                        Change Email
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="row">
                        <form class="col-12" method="post" asp-controller="Profile" asp-action="ChangeEmail">
                            <fieldset>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="OldEmail">Old Email</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="OldEmail" name="OldEmail" class="form-control">
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="NewEmail">New Email</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="NewEmail" name="NewEmail" class="form-control">
                                    </div>
                                </div>
                                <hr />
                            </fieldset>
                            <button type="submit" class="btn btn-primary mb-2">Change Email</button>
                            <hr class="mt-1 mb-1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
